{{#if (gt details.resources.length 10)}}
  <div class="mb-1 p-footnote">
    Showing first 10 assets out of {{details.resources.length}}
  </div>
{{/if}}
{{#each (limit details.resources 10) as | asset assetIndex |}}
  {{#let (get state assetIndex) as | assetState |}}
    <div class="resource-container">
    <div {{action (toggle "__show" assetState)}} class="header-container {{unless assetState.__show "expanded"}}">
      <div class="emphasize-text">
        {{#if (eq block.entity.type "custom")}}
          {{!-- this is a hostname so show the IP --}}
          {{asset.ip}}
        {{else if asset.hostName}}
          {{asset.hostName}}
        {{else if asset.mac}}
          {{asset.mac}}
        {{/if}}
      </div>
      
      <div class="d-flex align-items-center">
        <div class="mr-1">
          <div class="text-right">
            <span class="p-footnote">Risk</span>
          </div>
          <div class="text-right">
            {{asset.riskScore}} 
          </div>
        </div>
        <button class="btn toggle-btn p-action" title="View indicator details">
          {{#if assetState.__show}}
            {{fa-icon icon="chevron-up" fixedWidth=true}}
          {{else}}
            {{fa-icon icon="chevron-down" fixedWidth=true}}
          {{/if}}
        </button>
      </div>
    </div>
    {{#if assetState.__show}}
      <div class="content-container">
      <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
          <a
            {{action "changeTab" "info" assetIndex}}
                  class="nav-link {{if (or (eq assetState.__activeTab "info") (not assetState.__activeTab)) "active"}}"
                  href="#"
          >Asset Info</a>
        </li>
        <li class="nav-item">
          <a
            {{action "changeTab" "history" assetIndex}}
                  class="nav-link {{if (eq assetState.__activeTab "history") "active"}}"
                  href="#"
          >History {{#unless (is-empty asset.history)}}({{asset.history.length}}){{/unless}}</a>
        </li>
        <li class="nav-item">
          <a
            {{action "changeTab" "software" assetIndex}}
                  class="nav-link {{if (eq assetState.__activeTab "software") "active"}}"
                  href="#"
          >Software {{#unless (is-empty asset.software)}}({{asset.software.length}}){{/unless}}</a>
        </li>
      </ul>
  
      {{#if (or (eq assetState.__activeTab "info") (not assetState.__activeTab))}}
        <h1 class="p-title d-flex justify-content-between align-items-center mt-0">
          <div>
            Asset
          </div>
          <div>
            <a class="p-link" href="{{block.userOptions.url}}/asset.jsp?devid={{asset.id}}">View Asset {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
          </div>
        </h1>
        {{#if asset.ip}}
            <div>
              <span class="p-key">IP: </span>
              <span class="p-value">{{asset.ip}}</span>
            </div>
        {{/if}}
        {{#if asset.hostName}}
          <div>
            <span class="p-key">Hostname: </span>
            <span class="p-value">{{asset.hostName}}</span>
          </div>
        {{/if}}
        {{#if asset.mac}}
          <div>
            <span class="p-key">MAC: </span>
            <span class="p-value">{{asset.mac}}</span>
          </div>
        {{/if}}
        <div>
          <span class="p-key">Risk Score: </span>
          <span class="p-value">{{asset.riskScore}}</span>
        </div>
        {{#if asset.os}}
          <div>
              <span class="p-key">OS: </span>
              <span class="p-value">{{asset.os}}</span>
          </div>
        {{/if}}

      
        {{#if asset.osFingerprint.cpe}}
            <div>
                <span class="p-key">CPE: </span>
                <span class="p-value">{{asset.osFingerprint.cpe.product}}</span>
            </div>
      
            <div>
                <span class="p-key">CPE Vendor: </span>
                <span class="p-value">{{asset.osFingerprint.cpe.vendor}}</span>
            </div>
        {{/if}}
      
        {{#if (eq asset.assessedForPolicies true)}}
            <div>
                <span class="p-key">Assessed For Policies</span>
              <span class="p-value">Yes</span>
            </div>
        {{else if (eq asset.assessedForPolicies false)}}
          <div>
            <span class="p-key">Assessed For Policies:</span>
            <span class="p-value">No</span>
          </div>
        {{/if}}
      
        {{#if (eq asset.assessedForVulnerabilities true)}}
            <div>
              <span class="p-key">Assessed For Vulnerabilities:</span>
              <span class="p-value">Yes</span>
            </div>
        {{else if (eq asset.assessedForVulnerabilities true)}}
          <div>
            <span class="p-key">Assessed For Vulnerabilities</span>
            <span class="p-value">No</span>
          </div>
        {{/if}}
      
      
        <h1 class="p-title">Vulnerabilities</h1>
        <div class="info-bar mb-1 mt-1">
          <div class="info-bar-row">
            <div class="info-bar-pill">
              <span class="info-bar-key">Moderate</span>
              <span class="info-bar-value">
                {{asset.vulnerabilities.moderate}}
              </span>
            </div>
            <div class="info-bar-pill">
              <span class="info-bar-key">Severe</span>
              <span class="info-bar-value">
                {{asset.vulnerabilities.severe}}
              </span>
            </div>
            <div class="info-bar-pill">
              <span class="info-bar-key">Critical</span>
              <span class="info-bar-value">
                {{asset.vulnerabilities.critical}}
              </span>
            </div>
          </div>
          <div class="info-bar-row">
            <div class="info-bar-pill">
              <span class="info-bar-key">Malware Kits</span>
              <span class="info-bar-value">
                {{asset.vulnerabilities.malwareKits}}
              </span>
            </div>
            <div class="info-bar-pill">
              <span class="info-bar-key">Exploits</span>
              <span class="info-bar-value">
                {{asset.vulnerabilities.exploits}}
              </span>
            </div>
            <div class="info-bar-pill">
              <span class="info-bar-key">Total</span>
              <span class="info-bar-value">
                {{asset.vulnerabilities.total}}
              </span>
            </div>
          </div>
        </div>
      
      
        {{#if (gt asset.services.length 0)}}
          <h1 class="p-title">Services</h1>
          {{#each asset.services as |service index|}}
            <div class="service-pill">
              <span class="port">{{service.port}}</span><span class="transport">{{service.protocol}}</span><span class="service">{{service.name}}</span>
            </div>
          {{/each}}
        {{/if}}
      
        {{!--
        <h1 class="p-title">{{fa-icon "cubes" fixedWidth=true}} Criticality</h1>
        <div class="nexpose-tags">
            {{#each details.appliedTags.criticality as |tag|}}
                <span class="nexpose-tag">{{tag.name}}</span>
            {{/each}}
        </div>
      
        <div class="input-group">
            <select class="custom-select" onchange={{action 'onSelectTag' value="target.value"}}>
                {{#each details.availableTags as |tag|}}
                    <option selected="{{if (eq tag.name details.appliedTags.criticality.0.name) "true"}}" value="{{tag.id}}">{{tag.name}}</option>
                {{/each}}
            </select>
            <div class="input-group-append">
                <button  {{action "applyTag" details.id}} disabled="{{if isUpdatingCriticality "true"}}" class="btn btn-outline-secondary btn-sm btn-select-input-group" type="button">
                    {{#if isUpdatingCriticality}}
                        {{fa-icon "spinner-third" spin=true fixedWidth=true}}
                    {{else}}
                        Update
                    {{/if}}
                </button>
            </div>
        </div>
        --}}
        {{#if (gt asset.appliedTags.custom.length 0)}}
          <h1 class="p-title">Custom Tags</h1>
          <div class="nexpose-tags">
              {{#each asset.appliedTags.custom as |tag|}}
                  <span class="nexpose-tag {{tag.color}}">{{tag.name}}</span>
              {{/each}}
          </div>
        {{/if}}
      
        {{#if (gt asset.appliedTags.location.length 0)}}
          <h1 class="p-title">Owners</h1>
          <div class="nexpose-tags">
              {{#each asset.appliedTags.owner as |tag|}}
                  <span class="nexpose-tag">{{tag.name}}</span>
              {{/each}}
          </div>
        {{/if}}
      
        {{#if (gt asset.appliedTags.location.length 0)}}
          <h1 class="p-title">Locations</h1>
          <div class="nexpose-tags">
              {{#each asset.appliedTags.location as |tag|}}
                  <span class="nexpose-tag">{{tag.name}}</span>
              {{/each}}
          </div>
        {{/if}}
      {{/if}}
    
      {{#if (eq assetState.__activeTab "history")}}
        <h1 class="p-title">History</h1>
        <div class="scrollable-container">
          {{#each asset.history as |history|}}
            <div>
              <span class="p-value">{{history.type}} / Version: {{history.version}} {{#if history.scanId}}/ ScanID: {{history.scanId}}{{/if}}</span>
            </div>
            <div class="mb-2">
              <span class="p-value">
                {{moment-format
                  history.date
                  "MM/DD/YYYY HH:mm:ss"
                  timeZone=timezone
                }}
              </span>
            </div>
          {{/each}}
        </div>
      {{/if}}

      {{#if (eq assetState.__activeTab "software")}}
        <h1 class="p-title">Software</h1>
        <div class="scrollable-container">
          {{#each asset.software as |software|}}
            <div class="mb-2">
              <span class="p-value">{{software.description}}</span>
            </div>
          {{/each}}
        </div>
      {{/if}}
    
      {{#if updateError}}
          <pre>
              {{updateError}}
          </pre>
      {{/if}}
    </div>
    {{/if}}
  </div>
  {{/let}}
{{/each}}